* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    padding: 15px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.705);
}

section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input, #btnZerar{
    color: black;
}
